@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }
    .home {
        padding-top: 200px;
    }
    .hamburger-menu {
        display: none;
    }
    .about {
        &__photo {
            width: 400px;
            height: 500px;
        }
        &__content {
            min-width: 400px;
        }
    }
    .works__wrapper {
        grid-template-columns: repeat(3, 1fr);
        .vertical, .horizontal {
            grid-column: unset;
            grid-row: unset;
        }
    }
}

@media (max-width: 1025px) {
    .container {
        max-width: 769px;
    }
    .about {
        &__content {
            min-width: 260px;
        }
    }
    .works__wrapper {
        grid-template-rows: repeat(2, 230px);
        grid-auto-rows: 230px;
    }
    .contacts {
        &__content {
            font-size: 16px;
        }
        &__form {
            grid-template-columns: repeat(2, 180px);
        }
    }
}

@media (max-width: 769px) {
    .container {
        max-width: 600px;
    }
    .hamburger {
        display: block;
    }
    .hamburger-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .home {
        &__scroll {
        font-size: 10px;
        bottom: 80px;
        }
    }
    .about {
        &__photo {
            width: 250px;
            height: 350px;
        }
        &__content {
            font-size: 16px;
            &-specialise {
                font-size: 14px;
            }
            &-university {
                margin: 5px 0;
            }
            &-experience {
                padding-top: 5px;
            }
            &-job {
                margin-top: 5px;
            }
        } 
    }

    .small-text {
        font-size: 12px;
        line-height: 14px;
    }
    
    .place {
        font-size: 16px;
    }

    .works__wrapper {
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(2, 280px);
        grid-auto-rows: 280px;
    }
    .contacts {
        &__wrapper {
            display: block;
        }
        &__content {
            font-size: 18px;
        }
        &__form {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 30px
        }
    }   
}

@media (max-width: 600px) {
    .about {
        &__descr {
            font-size: 22px;
        }
        &__photo {
            display: none;
        }
        &__content {
            font-size: 22px;
            &-specialise {
                font-size: 18px;
            }
            &-university {
                margin: 15px 0;
            }
            &-experience {
                padding-top: 15px;
            }
            &-job {
                margin-top: 15px;
            }
        } 
    }

    .small-text {
        font-size: 16px;
        line-height: 18px;
    }
    
    .place {
        font-size: 22px;
    }
    .works__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 230px);
        grid-auto-rows: 230px;
    }   
}


@media (max-width: 481px) {
    .home {
        font-size: 14px;
        line-height: 16px;
        &__title {
            font-size: 32px;
            line-height: 36px;
        }
        &__prof {
            font-size: 16px;
            line-height: 18px;
        }

    }
    .about {
        &__descr {
            font-size: 18px;
        }
        &__content {
            font-size: 18px;
            &-specialise {
                font-size: 16px;
            }
            &-university {
                margin: 15px 0;
            }
            &-experience {
                padding-top: 15px;
            }
            &-job {
                margin-top: 15px;
            }
        }
    }
    .small-text {
        font-size: 14px;
        line-height: 16px;
    }
    
    .place {
        font-size: 18px;
    }
    .works__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .contacts {
        &__content {
            font-size: 14px;
        }
        &__form {
            grid-template: 45px 45px 130px 45px / 1fr;
        }
        &__textarea {
            grid-column: unset;
        }        
        &__triggers {
            text-align: center;
            grid-column: unset;
            grid-template-columns: 1fr;
        }
        &__btn {
            order: 2;
            padding: 15px 60px;
            margin: 20px auto;
        }
        &__policy {
            width: 180px;
            align-self: center;
            margin: 0 auto;
            line-height: 18px;
        }
    }   
}

@media (max-width: 320px) {
    .about {
        &__descr {
            font-size: 16px;
        }
        &__content {
            font-size: 16px;
            &-specialise {
                font-size: 14px;
            }
            &-university {
                margin: 10px 0;
            }
            &-experience {
                padding-top: 10px;
            }
            &-job {
                margin-top: 10px;
            }
        }
    }
    .small-text {
        font-size: 12px;
        line-height: 14px;
    }
    
    .place {
        font-size: 16px;
    }
}

//max-height

@media (max-height: 500px) {
    .home {
        padding-top: 120px;
        &__scroll {
            display: none;
        }
    }
    .hamburger-menu {
        font-size: 14px;
        &__list {
            margin-top: 60px;
        }
        li {
            padding-bottom: 5px;
        }
        &__socials {
            bottom: 20px;
        }
    }
}

@media (max-height: 320px) {
    .home {
        &__title {
            font-size: 28px;
            line-height: 34px;
        }
    }
}