@mixin after-elem {
    padding-left: 15px;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #191970;
        left: 0;
        top: 8px;
    }
}

@mixin contacts-icon {
    padding-left: 30px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}